<%= form_for @user, method: :patch do |f| %>
  <p><%= f.label "Ім'я" %></p>
  <%= f.text_field :firstname %><br />

  <p><%= f.label "Прізвище" %></p>
  <%= f.text_field :lastname %><br />
 
 <p><%= f.label "Пошта" %></p>
  <%= f.text_field :email %><br />

 <p><%= f.label "Пароль" %></p>
  <%= f.password_field :password %><br />

  <p><%= f.submit "Сохранити" %></p>
<% end %>

<style>
	
	body{
		background-image: url(http://dmauto-s.ru/img/wqewqerwer.jpg);
		width: 100%;
		color: black;

	}

</style>