<%= form_for :users, url:loginresult_path do |f| %>
 <p><%= f.label "Пошта" %></p>
  <%= f.text_field :email %><br />

 <p><%= f.label "Пароль" %></p>
  <%= f.password_field :password %><br />

  <p><%= f.submit "Логін" %></p>
<% end %>

<style>
	
	body{
		background-image: url(http://dmauto-s.ru/img/wqewqerwer.jpg);
		width: 100%;

	}

</style>